:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --contrast-color: rgb(255, 35, 51);
    --bg-color: rgb(244, 246, 247);
    --hover-nav-logo: rgba(0, 0, 0, .5);
}

/****************************
*****************************
Estilos Generales
*****************************
*****************************/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 3.48vw;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 1.5;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, .7);
}

abbr {
    text-decoration: none;
}

h2 {
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
    text-align: center;
    line-height: 1;
    font-size: 2.4rem;
    font-weight: 700;
}

p {
    font-size: 1.28rem;
    margin-bottom: 1rem;
}

blockquote {
    background-color: var(--bg-color);
}

.container {
    margin: 0 auto;
    width: 92%;
}

/************************EstilosCabecera**********************/
h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1.2rem;
}

h1 span:only-of-type {
    font-weight: 400;
    letter-spacing: -.47rem;
}

nav li {
    display: flex;
    justify-content: center;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 2rem;
}

/****************************Links**************************/
a {
    color: var(--contrast-color);
    text-decoration: none;
}

h1 a,
nav a {
    color: var(--primary-color);
}

nav a:hover,
h1 a:hover {
    color: var(--hover-nav-logo);
}

footer a {
    color: var(--secondary-color);
}

footer a:hover {
    color: var(--contrast-color);
}

footer img:hover {
    opacity: .7;
}

.active,
.active a {
    color: var(--contrast-color);
}


/*******************EstilosPieDePágina**********************/
footer {
    width: 100%;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 2vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

footer ul {
    list-style-type: none;
    margin-left: 0;
}

footer div div {
    margin: 1rem auto;
}

.copyright {
    line-height: .5;
}

/****************MediasGenerales*****************/
@media (orientation: landscape) and (max-width:1199px) {
    nav.sticky {
        text-align: center;
    }

    nav.sticky ul li {
        display: inline;
    }

    nav.sticky ul li:not(:last-of-type) {
        margin-right: 1.35rem;
    }

    nav.sticky ul {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.7vw;
    }

    .container {
        max-width: 92%;
    }

    p {
        font-size: 1.75rem;
    }

    footer {
        margin-top: 4rem;
        padding: 2rem;
    }

    footer div .rrss {
        display: inline-block;
        display: contents;
        margin-bottom: 1rem;
    }

    footer .copyright p {
        font-size: 1rem;
    }

}

@media (min-width:1200px) {
    footer .rrss img {
        margin-bottom: 1rem;
    }

    footer .copyright p {
        font-size: .8rem;
    }
}

/****************************
index.html
*****************************/
#inicio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.lema {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19.2rem;
    background-image: url(../img/bg-hero-home-m.jpg);
    color: var(--secondary-color);
    background-size: cover;
}

.lema p {
    text-align: center;
    font-size: 2.1rem;
}

.intro {
    margin-bottom: 1.55rem;
    margin-top: 2.4rem;
}

#noticias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 3.55rem;
    margin: 0 auto;
    width: 81%;
}

#noticias article img {
    width: 100%;
}

#noticias p.fecha {
    margin-top: 1rem;
    font-size: 1.15rem;
}

#noticias a {
    text-decoration: none;
}

#noticias h3 {
    font-size: 1.69rem;
    line-height: 2rem;
    margin-bottom: 1em;
    margin-top: 1em;
}

#noticias article p:last-of-type {
    margin-top: 1rem;
    font-size: 1.18rem;
}

article a:hover,
.linkto:hover {
    color: var(--primary-color);
}


.linkto::before {
    content: ">";
    padding-right: .5rem;
    font-weight: 400;
}

.linkto {
    font-size: 1rem;
    font-weight: 700;
}

/****************MediaQuery*****************/
@media (min-width: 768px) {

    .lema {
        height: 22rem;
    }

    .lema p {
        font-size: 3.5rem;
        max-width: 80%;
    }

    .intro {
        margin-bottom: 1.55rem;
        margin-top: 2.4rem;
    }

    #noticias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 3.5%;
        margin-top: 1rem;
        width: 94%;
    }

    #noticias p.fecha {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    #noticias h3 {
        margin: 1rem 0;
        font-size: 1.75rem;
    }

    #noticias article>p:last-of-type {
        font-size: 1.24rem;
    }

    .linkto {
        font-size: .9rem;
        font-weight: 700;
    }
}

/****************************
Aplicaciones.html
*****************************/
#apps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 2.5rem;
    width: 100%;
}

.aplicaciones section h2 {
    margin-top: 3rem;
    font-size: 2.37rem;
}

#apps a {
    text-decoration: none;
}

#apps h3 {
    margin-bottom: 2.2rem;
    line-height: 2rem;
    font-size: 2rem;
}

#apps div {
    padding: 2.5rem;
    background-color: var(--bg-color);
    font-size: 1.18rem;
}

#apps .linkto:hover {
    color: var(--primary-color);
    text-decoration: none;
}

#apps .linkto::before {
    content: ">";
    padding-right: .5rem;
    font-weight: 400;
}

#apps .linkto {
    font-size: .93rem;
    font-weight: 700;
    padding-top: 1.2rem;
}

/****************MediaQueries*****************/
@media (min-width: 768px) {

    #apps {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2.5rem;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    #apps p {
        font-size: 1.4rem;
    }

    .linkto {
        font-size: .9rem;
        font-weight: 700;
    }

}

@media (min-width:1200px) {
    #apps {
        grid-template-columns: repeat(3, 29%);
        grid-template-rows: auto;
        gap: 3.5rem;
        justify-content: space-between;
        align-content: space-between;
    }

    #apps p {
        font-size: 1.15rem;
    }

    #apps .linkto {
        font-size: .75rem;
    }

    #apps h3 {
        margin-bottom: 2.2rem;
        line-height: 1.8rem;
        font-size: 2.1rem;
    }

    #apps div {
        padding: 2rem;
    }

}

/****************************
en-el-cine.html
*****************************/

.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.cine blockquote {
    padding: 1.2rem 1rem;
    font-size: 1.18rem;
    margin-bottom: 3vh;
}

.cine blockquote cite:first-of-type {
    font-weight: 700;
    font-style: italic;
}

.cine blockquote cite:last-of-type {
    font-style: normal;
}

@media (min-width:768px) {
    .cine blockquote {
        margin-bottom: 2vh;
        font-size: 1.26rem;
    }

}

@media (min-width: 1200px) {
    .cine blockquote {
        font-size: 1rem;
    }

    .v1,
    .v3 {
        float: left;
        width: 49%;
    }

    .v2,
    .v4 {
        float: right;
        width: 49%;
    }

    .v3,
    .v4 {
        margin-top: 5vh;
    }

    .cine {
        display: flow-root;
    }
}

/****************************
despacho-42.html
*****************************/
.breadcrumb li {
    display: inline-flex;
    list-style: none;
    margin: 3rem 0;
    font-weight: 400;
}

.breadcrumb li:not(:first-child)::before {
    display: inline;
    content: " > ";
    padding: 0 .2rem;
}

cite.autor {
    font-style: normal;
}

cite.titulo {
    font-style: italic;
    font-weight: 700;
}

#ds42 figure img {
    max-width: 100%;
}

#ds42 figcaption>p {
    margin: 1.1rem 0;
    font-size: .9rem;

}

#ds42 h2 {
    text-align: left;
    padding: .4rem 0;
}

#ds42 h3 {
    font-size: 1.65rem;
    line-height: 1.2;
}

#ds42 h4 {
    font-size: 1.5rem;
    line-height: 1.2;
}

#ds42 article cite:last-of-type {
    font-size: 1.05rem;
}

#ds42 p {
    margin: 1.2rem 0;
    font-size: 1.18rem;
}

#ds42 blockquote {
    display: grid;
    padding: 2.5ch;
}

blockquote>img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}

blockquote ul {
    list-style-type: none;
    font-size: 1.1rem;
    padding-top: 1.5rem;
}

.to::before {
    content: ">";
    padding-right: .5rem;
}

legend {
    margin: 1rem 0;
}

label {
    font-size: 1.4rem;
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    background-color: var(--bg-color);
    border: none;
    min-height: 3.5rem;
    font-size: 1.4rem;
}

input,
textarea {
    margin-bottom: 2rem;
}

textarea {
    height: 12rem;
}

button {
    display: block;
    font-size: .9rem;
    padding: .5rem;
    color: var(--secondary-color);
    background-color: var(--contrast-color);
    border: none;
}

#ds42 aside div {
    display: flow-root;
    padding: 1rem 0;
    border-bottom: 1px dotted black;
}

#ds42 aside div h3,
#ds42 aside div p {
    font-size: 1.2rem;
    margin: 0;
}

aside div img {
    float: left;
    width: 6.5rem;
    height: 6.5rem;
    margin-right: 1rem;
    border-radius: 50%;
}


@media (min-width: 768px) {
    #ds42 blockquote {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 1vw;

    }

}

@media (min-width: 1200px) {
    #ds42 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    aside {
        width: 100%;
    }
}

/****************************
Media Screens Generales, REVISAR
*****************************/
/* Revvisar si se puede quitar el div que contiene el ul del*/
@media (min-width: 1200px) {

    /********General********/
    html {
        font-size: 0.945vw;
    }

    p {
        font-size: 1.75rem;
        font-weight: 400;
    }

    h1 {
        text-align: left;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 1.55rem;
        margin-top: 2.3rem;
        text-align: center;
        font-size: 2.1rem;
    }

    .sticky {
        justify-content: flex-start;
        height: 3.960vw;
    }

    nav ul li {
        display: inline;
        margin-right: 1.35rem;
        font-size: 1.08rem;
    }

    .container {
        max-width: 69%;
    }

    footer {
        margin-top: 5rem;
        padding-top: 2.1rem;
        padding-bottom: 1.9rem;
        font-size: .9rem;
        text-align: left;
    }

    footer p {
        line-height: 0.4;
        font-size: .8rem;
    }

    footer li {
        display: inline;
    }

    footer li:not(:last-of-type)::after {
        content: "·";
        padding: 0 .5rem;
    }

    footer img:not(:last-child) {

        margin-bottom: .8rem;
        margin-top: 0;
    }

    /********index.html********/
    .intro {
        margin: 0 auto;
        max-width: 73%;
    }

    .lema {
        background-image: url(../img/bg-hero-home.jpg);
        line-height: 1;
        height: 26.2rem;
    }

    .lema p {
        font-size: 5.3rem;
        max-width: 70%;
    }

    #noticias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-content: space-between;
        column-gap: 2.3rem;
        width: 95%;
    }

    #noticias h3 {
        font-size: 1.5rem;
    }

    #noticias p.fecha {
        font-size: .9rem;
    }

    #noticias article p:last-of-type {
        margin-top: 1rem;
        font-size: 1.05rem;
    }

    #noticias .linkto {
        font-size: .7rem;
        font-weight: 700;
    }

}