:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --contrast-color: rgb(222, 35, 51);
    --bg-color: rgb(244, 246, 247);
    --hover-nav-logo: rgba(0, 0, 0, .5);
}

/****************************
Estilos Generales
*****************************/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 3.48vw;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 1.5;
}

.sr {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 92%;
}

h2 {
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
    text-align: center;
    line-height: 1;
    font-size: 2.4rem;
    font-weight: 700;
}

p {
    font-size: 1.28rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    margin-left: 0;
}

abbr {
    text-decoration: none;
}

blockquote {
    background-color: var(--bg-color);
}

/*************Cabecera-Menú*************/
h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1.2rem;
}

h1 span {
    font-weight: 400;
    letter-spacing: -.47rem;
}

nav li {
    display: flex;
    justify-content: center;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 2rem;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, .2);
}

/*************PieDePágina*************/
footer {
    width: 100%;
    margin-top: 3rem;
    padding: 3rem 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: center;
}

footer div {
    margin: 1rem auto;
}

div.rrss {
    margin-bottom: 2rem;
}

.rrss a img {
    width: 1.8rem;
}

.rrss a:last-child img {
    width: 2.2rem;
}

.copyright p {
    font-size: 1rem;
    line-height: .4;
}

/*************Enlaces*************/
a {
    color: var(--contrast-color);
    text-decoration: none;
}

h1 a,
nav a {
    color: var(--primary-color);
}

.active,
.active a {
    color: var(--contrast-color);
}

nav a:hover,
h1 a:hover {
    color: var(--hover-nav-logo);
}

footer a {
    color: var(--secondary-color);
}

footer a:hover {
    color: var(--contrast-color);
}

footer img:hover {
    opacity: .7;
}

a.under:hover {
    color: var(--contrast-color);
    text-decoration: underline;
}

/*************MediaQueries*************/
@media (min-width: 768px) {
    html {
        font-size: 1.7vw;
    }

    p {
        font-size: 1.75rem;
    }

    footer {
        font-size: 1rem;
    }

    .rrss a img {
        width: 1.5rem;
    }

    .rrss a:last-child img {
        width: 1.9rem;
    }

    .copyright p {
        font-size: .8rem;
    }
}

@media (orientation: landscape) and (max-width: 767px) {
    .sticky {
        max-height: 20vh;
    }
}

@media (orientation: landscape) and (max-width:1199px) {
    nav.sticky {
        text-align: center;
    }

    nav.sticky ul li {
        display: inline;
    }

    nav.sticky ul li:not(:last-of-type) {
        margin-right: 1.35rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 0.945vw;
    }

    h1 {
        text-align: left;
        margin-bottom: 0;
    }

    h2 {
        font-size: 2.1rem;
    }

    nav ul li {
        display: inline;
        margin-right: 1.35rem;
        font-size: 1.08rem;
    }

    footer {
        font-size: .9rem;
        text-align: left;
    }

    footer li {
        display: inline;
    }

    footer li:not(:last-of-type)::after {
        content: "·";
        padding: 0 .5rem;
    }

    .container {
        max-width: 68%;
    }

    .sticky {
        justify-content: flex-start;
        height: 3.960vw;
    }

    .copyright p {
        font-size: .78rem;
    }
}

/****************************
index.html
*****************************/
#inicio {
    margin-bottom: 4rem;
}

.lema {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19.2rem;
    background-image: url(../img/bg-hero-home-m.jpg);
    color: var(--secondary-color);
    background-size: cover;
}

.lema p {
    text-align: center;
    font-size: 2.1rem;
}

.intro {
    margin-bottom: 1.55rem;
    margin-top: 2.4rem;
}

#noticias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 3.55rem;
    margin: 0 auto;
    width: 80%;
}

article img {
    width: 100%;
}

p.fecha {
    margin-top: 1rem;
    font-size: 1.15rem;
}

#noticias h3 {
    font-size: 1.72rem;
    margin: 1rem 0;
    line-height: 1.2;
}

#noticias article>p:last-of-type {
    margin-top: 1rem;
    font-size: 1.18rem;
}

.linkto {
    font-size: 1rem;
    font-weight: 700;
}

.linkto::before,
.to::before {
    content: ">";
    padding-right: .5rem;
    font-weight: 400;
}

article a:hover,
.linkto:hover {
    color: var(--primary-color);
}

/*************MediaQuery*************/
@media (min-width: 768px) {

    .lema {
        height: 22rem;
    }

    .lema p {
        font-size: 3.5rem;
        max-width: 80%;
    }

    #inicio h2 {
        margin-bottom: 1.55rem;
    }

    #noticias {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3.5%;
        width: 95%;
    }

    p.fecha {
        font-size: 1.2rem;
    }

    #noticias h3 {
        font-size: 1.75rem;
    }

    #noticias article>p:last-of-type {
        font-size: 1.24rem;
    }

    .linkto {
        font-size: .9rem;
    }
}

@media (min-width: 1200px) {
    #inicio {
        margin-bottom: 5rem;
    }

    .intro {
        margin: 0 auto;
        max-width: 73%;
    }

    .lema {
        background-image: url(../img/bg-hero-home.jpg);
        line-height: 1;
        height: 26.2rem;
    }

    .lema p {
        font-size: 5.3rem;
        max-width: 70%;
    }

    #noticias {
        column-gap: 2.3rem;
    }

    #noticias h3 {
        font-size: 1.5rem;
    }

    p.fecha {
        font-size: .9rem;
    }

    #noticias article>p:last-of-type {
        font-size: 1.05rem;
    }

    .linkto {
        font-size: .75rem;
    }
}

/****************************
Aplicaciones.html
*****************************/
#apps {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    width: 100%;
}

#apps div {
    padding: 2.5rem;
    background-color: var(--bg-color);
    font-size: 1.18rem;
}

#apps h3 {
    margin-bottom: 2.2rem;
    line-height: 2rem;
    font-size: 2rem;
}

@media (min-width: 768px) {
    #apps {
        grid-template-columns: repeat(2, 47%);
        justify-content: space-between;
        align-content: center;
        width: 100%;
    }

    #apps p {
        font-size: 1.36rem;
    }
}

@media (min-width:1200px) {
    #apps {
        grid-template-columns: repeat(3, 30%);
        row-gap: 4.5rem;
        justify-content: space-between;
        align-content: space-between;
    }

    #apps div {
        padding: 2rem;
    }

    #apps p {
        font-size: 1.15rem;
    }
}

/****************************
en-el-cine.html
*****************************/
.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.cine blockquote {
    padding: 1.2rem 1rem;
    font-size: 1.19rem;
    margin-bottom: 2.2vh;
}

cite.titulo {
    font-style: italic;
    font-weight: 700;
}

cite.autor {
    font-style: normal;
}

.space {
    opacity: 0;
}

@media (min-width:768px) {
    .cine blockquote {
        margin-bottom: 2vh;
        font-size: 1.26rem;
    }
}

@media (min-width: 1200px) {
    .cine {
        display: flow-root;
    }

    .cine blockquote {
        font-size: .895rem;
    }

    .v-left {
        float: left;
        width: 49%;
    }

    .v-right {
        float: right;
        width: 49%;
    }

    .v-bottom {
        margin-top: 1.2rem;
    }
}

/****************************
despacho-42.html
*****************************/
.breadcrumb li {
    display: inline-flex;
    list-style: none;
    margin: 3rem 0;
    font-weight: 400;
}

.breadcrumb li:not(:first-child)::before {
    display: inline;
    content: ">";
    padding: 0 .4rem;
    color: var(--primary-color);
}

figure img {
    max-width: 100%;
}

figcaption {
    margin: 1.1rem 0;
}

figcaption cite {
    font-size: .84rem;
}

#ds42 h2 {
    text-align: left;
    padding: .4rem 0;
}

.articulo h3 {
    font-size: 1.7rem;
    line-height: 1.2;
}

h4 {
    font-size: 1.53rem;
    line-height: 1.2;
}

.articulo p {
    margin: 1.2rem 0;
    font-size: 1.182rem;
}

article cite.last {
    font-size: 1.05rem;
}

#ds42 blockquote {
    display: grid;
    padding: 2.5ch;
    margin-top: 4rem;
}

blockquote>img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}

blockquote ul {
    font-size: 1.1rem;
    padding-top: 1.5rem;
}

form li {
    list-style-type: none;
}

p.obligatorio {
    font-size: .95rem;
}

label,
input,
textarea {
    display: block;
    padding-bottom: 0;
    font-size: 1.42rem;
}

input,
textarea {
    width: 100%;
    background-color: var(--bg-color);
    border: none;
    margin-bottom: 2.5rem;
    min-height: 3.5rem;
}

input[type="checkbox"] {
    display: inline;
    min-height: fit-content;
    width: auto;
}

input[type="checkbox"]+label {
    display: inline;
}

button {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: .55rem;
    background-color: var(--contrast-color);
    color: var(--secondary-color);
    border: none;
    text-transform: uppercase;
    font-size: .9rem;
}

aside article {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem 0;
    border-bottom: 1px dotted black;
}

.aside article * {
    font-size: 1.18rem;
    line-height: 1.4;
    color: var(--primary-color);
}

aside article img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
}

aside article div {
    margin: 0 1rem;
}

aside article *:hover {
    color: var(--hover-nav-logo);
}

@media (min-width: 768px) {
    figcaption cite {
        font-size: 1.1rem;
    }

    .articulo h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    .articulo p {
        font-size: 1.258rem;
    }

    article cite.last {
        font-size: 1.14rem;
    }

    #ds42 blockquote {
        grid-template-columns: 1fr auto;
        grid-column-gap: 1vw;
        padding-right: 4ch;
    }

    blockquote h2 {
        margin-top: 0;
    }

    blockquote>img {
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }

    p.obligatorio {
        font-size: .9rem;
    }

    aside article img {
        height: 9rem;
        width: 9rem;
    }
}

@media (min-width: 768px) and (max-width: 1190px) {
    .aside {
        width: 62vw;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    #ds42 {
        display: grid;
        grid-template-columns: 12fr 5fr;
        grid-column-gap: 5.1rem;
        row-gap: 0;
        grid-template-areas:
            "nav           ."
            "articulo  aside"
            "articulo      .";
    }

    .nav {
        grid-area: nav;
    }

    .articulo {
        grid-area: articulo;
        margin: 0 auto;
    }

    .aside {
        grid-area: aside;

    }

    .breadcrumb li,
    figcaption cite {
        margin: 2rem 0;
        font-size: .85rem;
    }

    #ds42 h2 {
        font-size: 2.3rem;
    }

    .articulo h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.28rem;
    }

    .articulo p {
        font-size: 1.0817rem;
    }

    article cite.last,
    p.obligatorio {
        font-size: .82rem;
    }

    #ds42 blockquote {
        padding: 4ch;
    }

    blockquote>img {
        width: 4.4rem;
        height: 4.4rem;
    }

    label,
    input,
    textarea {
        font-size: 1.1rem;
    }

    button {
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    aside h2,
    aside article div p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .aside article * {
        font-size: .9rem;
    }

    .aside article img {
        width: 4.7rem;
        height: 4.7rem;
    }
}