:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --contrast-color: rgb(255, 35, 51);
    --bg-color: rgb(244, 246, 247);
    --hover-nav-logo: rgba(0, 0, 0, .5);
}

/****************************
*****************************
Estilos Generales
*****************************
*****************************/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 3.48vw;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 1.5;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, .7);
}

abbr {
    text-decoration: none;
}

h2 {
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
    text-align: center;
    line-height: 1;
    font-size: 2.4rem;
    font-weight: 700;
}

p {
    font-size: 1.28rem;
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    width: 92%;
}

/************************EstilosCabecera**********************/
h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1.2rem;
}

span {
    font-weight: 400;
    letter-spacing: -.47rem;
}

.sticky ul {
    padding: 1.1rem 0;
}

nav li {
    display: flex;
    justify-content: center;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 2rem;
}

/****************************Links**************************/
a {
    color: var(--contrast-color);
}

h1 a,
nav a {
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover,
h1 a:hover {
    color: var(--hover-nav-logo);
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--contrast-color);
}

footer img:hover {
    opacity: .7;
}

.active,
.active a {
    color: var(--contrast-color);
}


/*******************EstilosPieDePágina**********************/
footer {
    width: 100%;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 2vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

footer ul {
    list-style-type: none;
    margin-left: 0;
}

footer div div {
    margin: 1rem auto;
}

.copyright {
    line-height: .5;
}

/****************MediasGenerales*****************/
@media (min-width: 768px) {
    html {
        font-size: 1.7vw;
    }

    .sticky ul {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .container {
        max-width: 92%;
    }

    p {
        font-size: 1.75rem;
    }

    footer {
        margin-top: 4rem;
        padding: 2rem;
    }

    footer .container div img:not(:last-child) {
        width: 2rem;
        height: 2rem;
        padding: 1.6rem;
    }

    footer p {
        font-size: 1.05rem;
    }

    footer div a svg {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

/****************************
index.html
*****************************/
#inicio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.lema {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19.2rem;
    background-image: url(../img/bg-hero-home-m.jpg);
    color: var(--secondary-color);
    background-size: cover;
}

.lema p {
    text-align: center;
    font-size: 2.1rem;
}

.intro {
    margin-bottom: 1.55rem;
    margin-top: 2.4rem;
}

#noticias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 3.55rem;
    margin: 0 auto;
    width: 81%;
}

#noticias article img {
    width: 100%;
}

#noticias p.fecha {
    margin-top: 1rem;
    font-size: 1.15rem;
}

#noticias a {
    text-decoration: none;
}

#noticias h3 {
    font-size: 1.69rem;
    line-height: 2rem;
    margin-bottom: 1em;
    margin-top: 1em;
}

#noticias article p:last-of-type {
    margin-top: 1rem;
    font-size: 1.18rem;
}

article a:hover,
.linkto:hover {
    color: var(--primary-color);
}


.linkto::before {
    content: ">";
    padding-right: .5rem;
    font-weight: 400;
}

.linkto {
    font-size: 1rem;
    font-weight: 700;
}

/****************MediaQuery*****************/
@media (min-width: 768px) {

    .lema {
        height: 22rem;
    }

    .lema p {
        font-size: 3.5rem;
        max-width: 80%;
    }

    .intro {
        margin-bottom: 1.55rem;
        margin-top: 2.4rem;
    }

    #noticias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 3.5%;
        margin-top: 1rem;
        width: 94%;
    }

    #noticias p.fecha {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    #noticias h3 {
        margin: 1rem 0;
        font-size: 1.75rem;
    }

    #noticias article>p:last-of-type {
        font-size: 1.24rem;
    }

    .linkto {
        font-size: .9rem;
        font-weight: 700;
    }
}

/****************************
Aplicaciones.html
*****************************/
#apps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 2.5rem;
    width: 100%;
}

.aplicaciones section h2 {
    margin-top: 3rem;
    font-size: 2.37rem;
}

#apps a {
    text-decoration: none;
}

#apps h3 {
    margin-bottom: 2.2rem;
    line-height: 2rem;
    font-size: 2rem;
}

#apps div {
    padding: 2.5rem;
    background-color: var(--bg-color);
    font-size: 1.18rem;
}

#apps .linkto:hover {
    color: var(--primary-color);
    text-decoration: none;
}

#apps .linkto::before {
    content: ">";
    padding-right: .5rem;
    font-weight: 400;
}

#apps .linkto {
    font-size: .93rem;
    font-weight: 700;
    padding-top: 1.2rem;
}

/*despacho-42.html*/
#breadcrumb .breadcrumb li {
    font-weight: 400;
}

.breadcrumb ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.breadcrumb li:not(:first-child)::before {
    display: inline-block;
    content: ">";
}

/****************MediaQueries*****************/
/****************************
Media Screens
*****************************/
@media (min-width: 768px) {

    #apps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2.5rem;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    #apps p {
        font-size: 1.4rem;
    }

    .linkto {
        font-size: .9rem;
        font-weight: 700;
    }
}


@media (min-width: 1200px) {

    /********General********/
    html {
        font-size: 0.945vw;
    }

    p {
        font-size: 1.75rem;
        font-weight: 400;
    }

    h1 {
        text-align: left;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 1.55rem;
        margin-top: 2.3rem;
        text-align: center;
        font-size: 2.1rem;
    }

    .sticky {
        justify-content: flex-start;
        height: 3.960vw;
    }

    nav ul li {
        display: inline;
        margin-right: 1.35rem;
        font-size: 1.08rem;
    }

    .container {
        max-width: 69%;
    }

    footer {
        margin-top: 5rem;
        padding-top: 2.1rem;
        padding-bottom: 1.9rem;
        font-size: .9rem;
        text-align: left;
    }

    footer p {
        line-height: 0.4;
        font-size: .8rem;
        color: var(--secondary-color);
    }

    footer li {
        display: inline;
    }

    footer li::after {
        content: "·";
        padding: 0 .5rem;
    }

    footer li:last-of-type::after {
        content: "";
    }

    footer img:not(:last-child) {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: .8rem;
        margin-top: 0;
    }

    /********index.html********/
    .intro {
        margin: 0 auto;
        max-width: 73%;
    }

    .lema {
        background-image: url(../img/bg-hero-home.jpg);
        line-height: 1;
        height: 26.2rem;
    }

    .lema p {
        font-size: 5.3rem;
        max-width: 70%;
    }

    #noticias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-content: space-between;
        column-gap: 2.3rem;
        width: 95%;
    }

    #noticias h3 {
        font-size: 1.5rem;
    }

    #noticias p.fecha {
        font-size: .9rem;
    }

    #noticias article p:last-of-type {
        margin-top: 1rem;
        font-size: 1.05rem;
    }

    #noticias .linkto {
        font-size: .7rem;
        font-weight: 700;
    }

}